<title>URL - TinyApp Example</title>

<body>
  <%- include('partials/_header') %>
  <div>
    <h1 class="card-title">My Todos: <%= specificTask["name"] %></h1>
  </div>

  <table class="table">
    <div>
      <tbody>
        <% for(let item in todoItems) { %>
        <tr>
          <% if(todoItems[item].completed === true) { %>
          <!-- <td id="output"></td> -->
          <td style="color: green;">
            <%= todoItems[item].taskName %>

            <!-- <button type="submit" id="changeRed">
              Click if incomplete
            </button>
            <button type="submit" id="changeGreen">
              Click if complete
            </button>
            <script>
              document.getElementById("changeRed").onclick = function () {
                document.getElementById("output").style.color = "red";
              };

              document.getElementById("changeGreen").onclick = function () {
                document.getElementById("output").style.color = "green";
              };
            </script> -->
          </td>

          <% } else { %>
          <!-- <td style="color: red;"> -->
          <td id="output">
            <%= todoItems[item].taskName %>

            <!-- <div> id="Output" </div> -->

            <button
              type="submit"
              id="changeGreen"
              style="
                background-color: green;
                border-color: green;
                color: black;
              "
            >
              Click if complete
            </button>

            <button
              type="submit"
              id="changeRed"
              style="background-color: red; border-color: red; color: black;"
            >
              Click if incomplete
            </button>

            <script>
              document.getElementById("changeRed").onclick = function () {
                document.getElementById("output").style.color = "red";
              };

              document.getElementById("changeGreen").onclick = function () {
                document.getElementById("output").style.color = "green";
              };
            </script>

            <!-- <button
              type="submit"
              class="btn btn-primary"
              style="background-color: red; border-color: red; color: black;"
            >
              Task
            </button> -->
          </td>
          <% } %>
        </tr>
        <% } %>
      </tbody>
    </div>
  </table>

  <div class="card-footer text-muted">
    <h1>Add Item</h1>
    <form class="form-inline" action="/todo/<%= uuid %>" method="POST">
      <div class="form-group mb-2">
        <label for="items">New Item:</label>
        <input
          class="form-control"
          type="text"
          name="items"
          placeholder="Add Item"
          style="width: 300px; margin: 1em;"
        />
        <button type="submit" class="btn btn-primary">Add Item</button>
      </div>
    </form>
  </div>
</body>
