<title>URL - TinyApp Example</title>

<body>
  <%- include('partials/_header') %>
  <div>
    <h1 class="card-title">My Todos: <%= specificTask["name"] %></h1>
  </div>

  <table class="table">
    <div>
      <tbody>
        <% for(let item in todoItems) { %>
        <tr>
          <% if(todoItems[item].completed === true) { %>
          <td style="color: green;"><%= todoItems[item].taskName %></td>
          <% } else { %>
          <td style="color: red;"><%= todoItems[item].taskName %></td>
          <% } %>
        </tr>
        <% } %>
      </tbody>
    </div>
  </table>

  <div class="card-footer text-muted">
    <h1>Add Item</h1>
    <form class="form-inline" action="/todo/<%= uuid %>" method="POST">
      <div class="form-group mb-2">
        <label for="items">New Item:</label>
        <input
          class="form-control"
          type="text"
          name="items"
          placeholder="Add Item"
          style="width: 300px; margin: 1em;"
        />
        <button type="submit" class="btn btn-primary">Add Item</button>
      </div>
    </form>
  </div>
</body>
